body {
  text-align: center;
  margin:0;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

.message-list {
  background-color: #c2e5ff;
  display: block;
  position: absolute;
}
.author {font-size: .8em;}
.time {font-size: .6em;}
h1 {
  color: #000;
  font-size: 1.6em;
}

.post {
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 5px;
  color: #000;
  width: 25%;
  float: left;
}
.navbar {height:50px; background-color:#eee; }
.navbar a {
    color: #888888;
    text-decoration: none;
    font-weight: 600;
}
.navbar ul {list-style: none;display: block;width: 100%;}
.navbar li {display: inline-block;float: left;padding:15px;}
.img-responsive {max-width:76%;padding:15px 0;}
.time {color:#000;}

.postButton {padding: 10px;
margin: 10px;background-color: #2eb52e;color:#fff;font-weight: 700;width: 150px;border:0px;}

input {padding: 10px;
margin: 10px;
border: 1px #ccc solid;}

.postId {
    display: none;
}
@media only screen and (max-width : 767px) {
  .post {
    width: 100%;
  }
}
