body {
  text-align: center;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

h1 {
  color: #FFB03B;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}
